<!-- <nav class="navbar navbar-expand-sm navbar-dark">
  <div class="title_nbr">Stock Search</div>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto w-100 justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:4200/search/home"
          >Search<span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" style="cursor: pointer" (click)="navigateToWatchlist()">Watchlist<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="cursor: pointer" (click)="navigateToPortfolio()">Portfolio<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav> -->


<nav class="navbar navbar-expand-sm navbar-dark">
  <div class="title_nbr">
    <a style="color: inherit; cursor: pointer;" (click)="navigateToHome()">Stock Search</a>
    
  </div>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto w-100 justify-content-end">
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
         <a *ngIf="temp_" routerLink="search/{{lastTickerSearched}}"  routerLinkActive="active" class="nav-link" >Search<span class="sr-only">(current)</span></a>
         <a *ngIf="!temp_" routerLink="search/{{lastTickerSearched}}" routerLinkActive="active-link" class="nav-link" >Search<span class="sr-only">(current)</span></a> 
         <!-- <a routerLink="" routerLinkActive="active" class="nav-link"  style="cursor: pointer" >Search<span class="sr-only">(current)</span></a> -->
      </li>
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a routerLink="watchlist" routerLinkActive="active" class="nav-link"  style="cursor: pointer" >Watchlist<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a routerLink="portfolio" routerLinkActive="active" class="nav-link" style="cursor: pointer" >Portfolio<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
